.our-product-heading {
    text-align: center;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-top: 10px;

}

.product-container > article {
    padding: 10px;
    margin-top: 10px;
}